body {
    background-color: #EEEEEE;
    margin-bottom: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #eee;
}

.nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0 12px;
}

li {
    margin-left: 30px;
}

a {
    color: black;
    text-decoration: none;
}

.main {
    /* background-color: #EEEEEE; */
    padding: 10px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
}

.container-1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 4px;
}

.email {
    display: block;
    margin: auto;
    padding: 6px;
    width: 260px;
    border-radius: 2px;
    border:  solid black 1px;
}

.submit {
    display: flex;
    margin: 10px auto;
    padding: 5px;
    background-color: #F1C40F;
    width: 120px;
    justify-content: center;
    font-weight: 900;
    border: 0px;
}

.features {
    margin: 40px;
    padding: 30px 0px;
}

.feature-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}

.feature {
    display: flex;
    margin: 64px auto;
    align-items: center;
}

.text {
    margin-left: 36px;
}

.HowItWorks {
    text-align: center;
}

#video {
    width: 30vw;
    height: 225px;
}

.container-4 {
    display: flex;
    text-align: center;
    margin-top: 50px;
}

.box {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    border-radius: 2px;
}

.price-card {
    background-color: #ddd;
    width: 100%;
    padding: 12px 0;
    font-weight: bold;
}

.description-text {
    display: block;
    margin-bottom: 12px;
}



.button {
    background-color: #F1C40F;
    margin: 20px;
    padding: 10px;
    width: 70px;
    border: 0px;
}

.footer {
    background-color: #ddd;
    padding: 20px;
    text-align: right;
    width: 900px; 
    margin-left: auto;
    margin-right: auto;
}

.footer-nav {
    justify-content: right;
}

.copyright {
    margin-top: 5px;
    font-size: 14px;
    color: #444;
}


@media screen and (max-width: 480px ) {
    .header {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    ul {
        flex-direction: column;
    }

    .main {
        width: 100%;
        margin-top: 74px;
    }

    .container-1 {
        text-align: center;
    }

    .icon {
        display: none;
    }

    #video {
        width: 78vw;
    }

    .feature-title {
        text-align: center;
    }

    .features {
        margin: 16px;
        padding: 0px;
    }

    .text {
        margin-left: 0px;
    }

    .container-4 {
        flex-direction: column;
    }

    .box {
        margin-left: 40px;
        width: 80%;
    }

    .footer {
        width: 90%;
    }

    .footer-nav {
        flex-direction: row;
    }

}
 
    
