body {
    background-color: #EEEEEE;
    margin-bottom: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #eee;
}

.nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0 20px;
}

li {
    margin-left: 30px;
}

a {
    color: black;
    text-decoration: none;
}

.main {
    /* background-color: #EEEEEE; */
    padding: 10px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.container-1 {
    display: flex;
    justify-content: center;
    margin: 24px;
    padding: 10px;
}

.email {
    display: block;
    margin: auto;
    padding: 10px;
    width: 300px;
    border-radius: 2px;
    border:  solid black 1px;
}

.submit {
    display: flex;
    margin: 10px auto;
    padding: 5px;
    background-color: #F1C40F;
    width: 120px;
    justify-content: center;
    font-weight: 900;
    border: 0px;
}

.features {
    margin: 15px;
    padding: 24px 0px;
}

.feature-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}

.feature {
    display: flex;
    margin: 54px auto;
    align-items: center;
}

.text {
    margin-left: 36px;
}

.HowItWorks {
    text-align: center;
    margin: 20px auto;
    padding: 18px;
}

.container-4 {
    display: flex;
    text-align: center;
}

.box {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    border-radius: 2px;
}

.price-card {
    background-color: #ddd;
    width: 100%;
    padding: 12px 0;
    font-weight: bold;
}

.description-text {
    display: block;
    margin-bottom: 12px;
}



.button {
    background-color: #F1C40F;
    margin: 20px;
    padding: 10px;
    width: 70px;
    border: 0px;
}

.footer {
    background-color: #ddd;
    padding: 20px;
    text-align: right;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.footer-nav {
    justify-content: right;
}

.copyright {
    margin-top: 5px;
    font-size: 14px;
    color: #444;
}


@media screen and (max-width: 480px ) {
    .header {
        flex-direction: column;
        width: 400px;
    }

    .logo {
        margin-left: 34px;
    }

    ul {
        flex-direction: column;
        text-align: center;
    }

    li {
        padding: 2px;
        margin-left: 0px;
    }

    #form {
        text-align: center;
        margin: 8px;
    }

    .email {
        width: 248px;
    }

    .main {
        width: 100%;
    }

    .features {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .icon {
        display: none;
    }

    .container-4{
        flex-direction: column;
    }

    .box {
        width: unset;
        margin: 10px;
    }

    .footer {
        width: 390px;
    }

    .footer-nav {
        flex-direction: row;
    }

    .feature-title {
        margin-left: 24px;
    }

    .text {
        margin-left: 0px;
    }

    .HowItWorks {
        padding: 4px;
    }

    
}
 
    
